/*ESTILO HEADER INDEX*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -10px;
  margin-bottom: -150px;
}

.header p {
  font-size: 100px;
}

.header p:hover {
  cursor: default;
}

/*ESTILOS GENERALES*/
.bodyProyecto {
  background-color: #ffffff;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  margin: auto;
  font-family: "BenchNine", sans-serif;
  font-size: x-large;
}

nav ul a {
  color: black;
}

/*ESTILO MENU DE LA DERECHA*/
.menuDerecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-bottom: -20px;
  margin-top: 90px;
  font-family: "BenchNine", sans-serif;
  font-size: x-large;
}

.menuDerecha li {
  list-style-type: none;
  padding: 10px;
}

.menuDerecha li a {
  -webkit-text-decoration: underline 0.1em rgba(255, 255, 255, 0);
          text-decoration: underline 0.1em rgba(255, 255, 255, 0);
  -webkit-transition: -webkit-text-decoration-color 800ms;
  transition: -webkit-text-decoration-color 800ms;
  transition: text-decoration-color 800ms;
  transition: text-decoration-color 800ms, -webkit-text-decoration-color 800ms;
}

.menuDerecha li a:hover {
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
  color: black;
}

/*BARRA DE NAVEGACION CENTRAL*/
#navbarNav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#navbarNav .dropdown-item {
  font-size: large;
}

/*CARRUSEL PORTADA*/
.imagenPortada img {
  width: 100%;
  height: 600px;
  opacity: 90%;
}

/*COMO COMPRAR*/
main h2 {
  background-color: #52616b;
  text-align: center;
  color: #f0f5f9;
  margin-top: 10px;
}

#columna1, #columna2, #columna3 {
  text-align: center;
}

#columna1 img, #columna2 img, #columna3 img {
  width: 40%;
  height: 40%;
}

#comoComprar {
  text-align: center;
}

/*UBICACION Y CONTACTO*/
#ubiCont div {
  text-align: center;
}

#ubiCont iframe {
  width: 100%;
}

/*FOOTER*/
footer h2 {
  background-color: #52616b;
  text-align: center;
  color: #f0f5f9;
  margin-top: 10px;
}

footer p {
  text-align: center;
  font-size: large;
}

.footer__iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.footer__iconos img {
  margin-inline: 20px;
  width: 30px;
}

footer img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

/* ESTILO CATALOGOS*/
.row {
  text-align: center;
}

#containercatalogo {
  margin-top: -100px;
}

#containerCatalogo p {
  font-size: large;
}

#containerCatalogo img {
  width: 70%;
  height: 70%;
}

.modelo {
  margin-bottom: -5px;
  font-weight: bold;
  margin-top: 10px;
}

.precio {
  margin-bottom: -2px;
}

.verMas {
  background-color: black;
  color: white;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 120px;
}

.mainAccesorios h3 {
  text-align: center;
  font-size: xx-large;
}

/*ESTILO SECCION AYUDA*/
#formularioContacto {
  text-align: center;
}

#botonEnviar {
  margin: 15px;
}

/*ESTILO SECCION REGISTRO*/
#formularioRegistro {
  margin-top: -15px;
  margin-bottom: 15px;
  margin-left: 20%;
  margin-right: 20%;
}

/*ESTILO SECCION INICIAR SESION*/
#formIniciosesion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.headerIniciosesion a {
  color: black;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -130px;
  margin-top: -10px;
  font-size: 100px;
  font-family: "BenchNine", sans-serif;
}

/*RESPONSIVE*/
@media only screen and (max-width: 576px) {
  .header p {
    font-size: 80px;
  }
  #comoComprar img {
    width: 90px;
    height: 90px;
  }
}

@media only screen and (max-width: 768px) {
  .menuDerecha {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0rem;
  }
}

@media only screen and (max-width: 767px) {
  #barraNavegacion {
    border: 0px;
    border-style: solid;
  }
}
/*# sourceMappingURL=style.css.map */